body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    text-align: center;
}

#settingsButton::before {
    content: '⚙️';
}

#settingsButton {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: 200ms linear;
    padding: 0 0 0.1em 0.1em;
    border-bottom-left-radius: 0.3em;
    opacity: 0.1;
    font-size: max(calc(10px + 2vmin), 20pt);
}

#settingsButton:hover {
    background-color: gray;
    opacity: 1;
}
