div.settingsSection {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.3em;
}

input.settingsInput {
    margin-left: 0.5em;
}

input.settingsInput:focus {
    background-color: gray;
}

button.settingsResetButton {
    background-color: #4a515f;
    font: inherit;
    font-size: 14pt;
    border-radius: 0.5em;
    margin-left: 0.5em;
    box-shadow: black 5px 5px 10px;
    cursor: pointer;
    transition: background-color 200ms linear;
    border: solid 2px transparent;
}

button.settingsResetButton:hover {
    background-color: gray;
}

button.settingsResetButton:active {
    border: solid 2px red;
}

@media only screen and (max-width: 600px) {
    div.settingsSection {
        display: flex;
        flex-flow: column nowrap;
        margin: 0.3em;
    }
    button.settingsResetButton {
        align-self: flex-end;
        margin-top: 0.5em;
    }
}
