div.gameContainer {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #282c34;
}

div.mainContent {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    max-width: calc(100vw - 300px);
}
