.playlistSelector {
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
}

.playlistSelector label {
    padding: 1.3em 0 0.3em 0.5em;
}

.playlistSelector select,
.playlistSelector option {
    width: min(90vw, 100%);
}

.playlistSelector input[type='submit'] {
    margin: 3em 1em 0 1em;
    width: 50%;
    align-self: center;
}

.playlistSelector .playlistPreview {
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    margin-left: 0.3em;
    border-radius: 0.2em;
    box-shadow: black 5px 5px 10px;
}

@media screen and (max-width: 768px) {
    .playlistSelector .playlistPreview {
        display: none;
    }
}
